.contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  width: 400px;
}

.contact-form {
  max-width: 450px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(20, 20, 20, 0.9);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.contact h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact p {
  color: #aaaaaa;
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1f1f1f;
  color: #ffffff;
}

.contact-form button {
  padding: 12px;
  background: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}